*{
    margin: 0;
    padding: 0;
    
    
}
body{
    background-color: rgb(255, 255, 238);
}
.background{
    width: 100vw;
    height: 50vh;
    background: linear-gradient(green,rgb(255, 255, 238));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.wrapper{
    position: relative;
}

.main-content{
    position: relative;
    z-index: 1;
}

.main-content center header{
    border: 1px solid black;
    width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width:900px){
    .main-content center header{
        width: 80vw;
    }
}

a.logo img {
    border-radius: 50%;
    width: 150px;
    margin: 10px;
}


@media screen and (max-width: 800px) {
    a.logo img{
       width: 23vw;
    }  
}





.title{
    text-align:left;
    background-color: rgb(0, 161, 129);
    color: white;
    padding: 2px;
}

.hard-color
{
    background-color: rgb(0, 50, 40);
}

.bellow-title{
    text-align:left;
    background-color: white;
    color: rgb(0, 50, 40);
    padding: 5px;
}

.space-between{
    display: flex;
    justify-content: space-between;
}


.board-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2px;
}

.board-element{
    flex: 1;
    margin: 5px;
    
}

.thread-element{
    flex: 1;
    margin: 8px;
    text-decoration: none;
}

.thread-element:hover{
cursor: url(../../img/cursor-kopia.png) , auto;
}

.thread-element img {
    width: 220px;
    border: rgb(0, 50, 40) 1px solid;
}

.thread-element p{
    width: 90%;
    text-align: center;
}

.thread-element p , .thread-element b{
    color: rgb(0, 50, 40);
}

b{text-decoration: underline;}

.thread-element b{
    
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: 5px;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: rgb(0, 50, 40);
}

li a:hover{
    text-decoration: underline;
    color: green;
    
}