.backNav {
    padding: 15px 15px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 20;
    visibility: hidden;
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: #3e3636 ridge 5px;
    transition: width 1s;

    overflow-y: scroll;
}

.backNav::before {
    content: '';
    z-index: -5;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}

sidepanel{
    color: white;
    padding: 2px;
}

sidepanel ul{
    margin-left: 10px;
    margin-top: 20px;
}
sidepanel ul li{
    list-style: armenian;
}
sidepanel ul li a{
    color: green;
    text-decoration: none;
}

sidepanel p{
    margin-left: 5px;
}

sidepanel h2{
    margin: 10px;
}

sidepanel button{
    padding: 13px;
    background-color: white;
    color: rgb(0, 50, 40);
    text-align: center;
    font-size: 90%;
}

@media screen and (max-width:680px) {
        sidepanel button{
        padding: 7px;
        width: 19vw;
        background-color: white;
        color: rgb(0, 50, 40);
        font-size: 3vw;
    }
}