@import url(./roundButton.css);
@import url(./header.css);
@import url(./side-nav.css);
@import url(./aside-event-slider.css);
@import url(./event.css);

@import url(./footer.css);

@import url(./info-content.css);

@import url(./library.css);

@import url(./form-styling.css);

@import url(./cookies.css);
@import url(./styled-table.css);


*{
    margin: 0;
    padding: 0;
}

html, body { 
    height: 100%;
    background-color: white;
}


/*
rgb(0, 50, 40);
white
black
green

*/
.white-text{
    color: white;
    text-shadow:
                -2px -2px 2px #000,
                2px -2px 2px  #000,
                -2px 2px 2px  #000,
                2px 2px 2px  #000,
                -3px 0px 2px  #000,
                3px 0px 2px  #000,
                0px -3px 2px  #000,
                0px 3px 2px  #000;
}

.hover-white-text:hover{
    color: white;
}

ititled.center-title
{
    text-align: center;
    font-family: "Lora", serif;
    font-size: 30px;
    text-decoration: underline;
    background-color: rgb(0, 50, 40);
    border: 3px white ;
    color: white;
    padding: 0.6rem;
    border-style: double;
}

@media screen and (max-width:957px){
    ititled.center-title
    {
        text-align: center;
        font-family: "Lora", serif;
        font-size: 3vw;
        text-decoration: underline;
        background-color: rgb(0, 50, 40);
        border: 1px white ;
        border-style: double;
    }
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 10px;
}

.main-content
{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.centering{
    display: flex;
    justify-content: center;
    align-items: center;
}

.queue{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

bosscontainer{
    border: green 10px ridge;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
    align-items: center;
}



.boss {
    border: rgb(0, 50, 40) ridge 5px;
    width: 230px;
    min-height: auto;
}

.boss p{
    color: white;
    text-align: center;
    background-color: #000;
}

.boss img{
    width: 100%;
}



