@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.form-page {
    font-family: 'Cabin';
    box-sizing: border-box;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-page h1 {
    font-size: 3em;
    margin-left: 50px;
}

.styled-form {
    box-sizing: border-box;
}

.irk-form {
    border-radius: 50px;
    box-shadow: 0px 0px 20px black;
    padding: 30px;
    margin: 30px 0px;
    width: min(100%, 1000px);
}

.styled-form h2 {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.styled-form fieldset {
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}

.styled-form legend {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4em;
}

.styled-form label {
    transition: linear 0.2s;
    color: black;
    font-size: 1.4em;
}
.styled-form label:hover {
    color: green;
}

.styled-form input[type=text], .styled-form input[type=number],
.styled-form input[type=email], .styled-form input[type=tel],
.styled-form input[type=date] {
    border: 2px solid beige;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #438046;
    padding: 5px;
    margin: 5px;
    font-size: 1.1em;
    font-family: Cabin;
    transition: linear 0.2s;
}
.styled-form input[type=text]:hover, .styled-form input[type=number]:hover,
.styled-form input[type=email]:hover, .styled-form input[type=tel]:hover,
.styled-form input[type=date]:hover {
    box-shadow: inset 0 0 5px #acb1ac;
    border: 2px solid green;
}
.styled-form input[type=text]:focus, .styled-form input[type=number]:focus,
.styled-form input[type=email]:focus, .styled-form input[type=tel]:focus,
.styled-form input[type=date]:focus {
    box-shadow: inset 0 0 5px #b3ffb3;
    border: 2px solid green;
}


.styled-form select {
    padding: 7px;
    margin: 10px;
    font-family: Cabin;
    font-size: 1.1em;
    text-wrap: wrap;
    border: none;
    border-bottom: 3px solid #006b00;
    border-radius: 10px;
    background-color: #019701;
    box-shadow: 0px 5px 15px black;
    color: white;
    transition: linear 0.1s;
}
.styled-form select:hover {
    background-color: #01c201;
}
.styled-form select:focus {
    background-color: #007e00;
    border-bottom: 3px solid #004100;
}


.styled-form .radio-fieldset {
    border: 1px solid green;
}

.styled-form .radio-legend {
    font-weight: normal;
    text-transform: none;
}


.styled-form .button-element {
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    border: none;
    background-color: green;
    color: white;
    font-family: Cabin;
    font-size: 1.1em;
    box-shadow: 0px 0px 15px black;
    transition: linear 0.1s;
}

.styled-form .button-element:hover {
    background-color: #00bd00;
    cursor: pointer;
}

.styled-form .button-element:active {
    background-color: #006300;
    cursor: pointer;
}


.styled-form .searchbar {
    padding: 10px;
    padding-left: 40px;
    margin: 5px 5px 5px 20px;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #747474;
    box-sizing: border-box;
    font-size: 1.1em;
    transition: linear 0.1s;
    background-color: white;
    background-image: url('../img/library/search.png');
    background-position: 7px 5px;
    background-repeat: no-repeat;
}

.styled-form input[type=search]:hover {
    box-shadow: inset 0 0 5px #c4c4c4, 0 0 5px black;
    border: 3px solid green;
}

.styled-form input[type=search]:focus {
    box-shadow: none;
    border: 3px solid green;
}


.styled-form .dropdown-button {
    padding: 20px 40px 20px 20px;
    color: white;
    background-color: green;
    background-image: url('../img/library/expand.png');
    background-repeat: no-repeat;
    background-position: right;
    font-size: 1.1em;
    border: none;
    transition: linear 0.1s;
}

.styled-form .dropdown-button:hover {
    background-color: #006300;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button + .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px black;
    font-size: 1.1em;
    z-index: 10;
}

.dropdown-button:hover + .dropdown-content {
    display: block;
}

.dropdown-content:hover {
    display: block;
}

.dropdown-content ul {
    list-style: none;
    width: max-content;
}

.dropdown-content ul li {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    background-color: green;
    transition: linear 0.1s;
    width: 100%;
}

.dropdown-content ul li:hover {
    background-color: #006300;
}

.dropdown-content ul li > label {
    color: white;
    font-size: 1em;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100%;
}
.dropdown-content ul li > label:hover {
    color: #c4c4c4;
}
.dropdown-content ul li > label > span {
    margin-left: 10px;
}

.dropdown-content input[type=radio], .dropdown-content input[type=checkbox] {
    position: relative;
    appearance: none;
    z-index: 1;
    width: 16px;
    height: 16px;
}

.dropdown-content input[type=radio]::before, .dropdown-content input[type=checkbox]::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
}
.dropdown-content input[type=radio]:checked::before, .dropdown-content input[type=checkbox]:checked::before {
    background-image: url(../img/checkmark.png);
    background-size: contain;
}



.uwu-checkbox {
    position: relative;
    width: 60px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}

.uwu-checkbox input {
    position: relative;
    z-index: 1;
    appearance: none;
}

.uwu-checkbox span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe0000;
    border-radius: 30px;
    transition: ease 0.5s;
    box-shadow: 0 6px 9px #fe000066;
}

.uwu-checkbox span i {
    position: absolute;
    background: #fff;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: ease 0.5s;
}

.uwu-checkbox span i::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 5px;
    width: 5px;
    height: 5px;
    background: #fe0000;
    border-radius: 50%;
    box-shadow: 13px 0 0 #fe0000;
    transition: ease 0.5s;
}

.uwu-checkbox span i::after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: calc(50% - 6px);
    width: 12px;
    height: 2px;
    background: #fe0000;
    border-radius: 3px;
    transition: ease 0.5s;
}

.uwu-checkbox input:checked ~ span {
    background: #05be05;
    box-shadow: 0 6px 9px #05be05;
}

.uwu-checkbox input:checked ~ span i {
    left: 32px;
}

.uwu-checkbox input:checked ~ span i::before {
    background: #05be05;
    box-shadow: 13px 0 0 #05be05;
}

.uwu-checkbox input:checked ~ span i::after {
    border-radius: 0;
    height: 6px;
    bottom: 5px;
    border-radius: 0 0 6px 6px;
    background: #05be05;
}



@media screen and (max-width: 800px) {
    .form-page {
        padding: 0px 0px;
    }

    .form-page form {
        margin: 30px 0px;
        padding: 30px 10px;
    }
}

