@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


.library-decor {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.library-decor h1#library-title {
    font-size: 10vw;
    top: 0;
    right: 0;
    margin: 10px;

    position: absolute;
    z-index: 10;

    font-family: 'Cabin';
    letter-spacing: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    color: white;
    text-shadow: black 5px 5px 10px;
}

.library-decor img {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.library-decor img#open-book-img {
    bottom: 0;
    z-index: 9;
}

.library-decor img#library-img {
    height: 100%;
    top: 0;
    z-index: 8;
}

.library-decor::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background: linear-gradient(to top, white, transparent);
    z-index: 11;
}



.library-content {
    box-sizing: border-box;
    width: min(100%, 1600px);
    padding: 0px 100px;
    margin: auto;
    font-family: 'Cabin';
}

.library-content h2 {
    font-size: 4em;
    margin: 20px 10px;
    font-weight: bold;
}

.library-content p {
    font-size: 1.25em;
    margin: 10px 0px;
}

.library-content .p-first-upper::first-letter {
    font-size: 2em;
}

.library-content hr {
    margin: 20px 0px;
    border: 1px solid darkgreen;
}


.library-content .borrow-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #008000;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
    margin: 10px;
    font-size: 1.1em;
    user-select: none;
    transition: linear 0.1s;
}

.library-content .borrow-button:hover {
    background-color: #01d301;
}

.library-content .borrow-button:active {
    background-color: #005700;
}

.library-content .book-title {
    font-style: italic;
    font-size: 1.75em;
}


@media screen and (max-width: 600px) {
    .library-decor {
        height: 100vw;
    }

    .library-content {
        padding: 0px 10px;
    }
    
    .library-content h2 {
        margin-left: 10px;
        font-size: 2.5em;
    }

    .library-content .book-title {
        font-size: 1.5em;
    }
}


.library-content .boldlabel {
    margin: 10px 10px 10px 0px;
    font-size: 1.25em;
    font-weight: bold;
}


.library-content::after {
    display: block;
    content: '';
    width: 100%;
    height: 50px;
}


.library-catalog {
    font-family: 'Cabin';
    font-size: 1.4em;
    box-sizing: border-box;
    width: min(100%, 1400px);
    padding: 0px 100px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.library-catalog hr {
    box-sizing: border-box;
    margin: 30px 0px;
    border: none;
    border-bottom: 4px solid green;
    border-radius: 2px;
}

#library-books-list {
    display: flex;
    flex-direction: column;
}

#library-books-list .book-title {
    font-style: italic;
    font-size: 2em;
}


.library-navbar {
    font-family: 'Cabin';
    background-color: green;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library-navbar h1 {
    font-family: Cabin;
    font-size: 3em;
    text-transform: capitalize;
    margin: 10px auto;
    text-align: center;
    color: white;
}

.library-navbar-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.library-navbar-form .library-navbar-label {
    color: white;
}
.library-navbar-form .library-navbar-label:hover {
    color: white;
}


@media screen and (max-width: 600px) {
    .library-catalog {
        padding: 0px 10px;
    }

    .library-navbar-form {
        flex-direction: column;
        align-items: stretch;
    }
}

