.backNav {
    padding: 5px 15px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    visibility: hidden;
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: #3e3636 ridge 5px;
    transition: width 1s;

    overflow-y: scroll;
}

.backNav::before {
    content: '';
    z-index: -5;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}